<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get" action="#">
        <input type="text" name="number1" id="number1">
        <span>+</span>
        <input type="text" name="number2" id="number2">
        <span>=</span>
        <input type="text" name="result" id="result">
        <button type="button" id="res" onclick="add()">계산</button>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function add() {
        axios({
            method: 'post' ,
            url: '/add',
            data: { //get 은 params post 는 data
                n1: $("#number1").val(),
                n2: $("#number2").val(),
            }
        }).then(function(data) {
            $("#result").val(data.data)
        })
    }
</script>
</html>